.bodyView{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 75vh;
    flex-wrap: wrap;
    gap: 20px;
    transition: 300ms ease-in-out;
    align-items: center;
}

.loader {
    width: 10px;
    height: 10px;
    animation: line 4s linear infinite alternate;
}
  
@media only screen and (max-width: 750px){
    .bodyView{
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 850px;
        flex-wrap: wrap;
        gap: 20%;
        transition: 300ms ease-in-out;
        align-items: center;
    }
}
